<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Tree Changes</title>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 90% !important;
        }

        h5 {padding-left: 1em; margin: 0.6em}
        .note {font-style: italic; font-weight: normal; padding-left: 1em; margin: 0.2em; font-size: 0.7em; color: gray;}
		/* Common */
		.header {display:block;}

        /* Bar */
		.bar{
			background: linear-gradient(to bottom, #126666 0%, #284753 77%);
			width:100%;
			overflow:hidden;
			display: inline-block;
		}
		.bar .bar-item{
			padding:8px 16px;
			float:left;
			width:auto;
			border:none;
			display:block;
			outline:0;
            color: White;
            background-color: transparent;
        }
        
        .bar .bar-item:hover {background-color: #328686;}
        .bar .bar-item.active {background-color: #328686; color: white;}

        .collapsable {visibility: collapse; display: none;}
        .collapsable.in {visibility: visible; display: table-row;}

        /* Tables */
        .table_header {
            background-color: #284753;
            color: wheat;
            text-align: center;
            font-family: "Open Sans", Arial, Helvetica, sans-serif;
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            background-color: black;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 0.5em;
            width: auto;
            color: #fff;
            border-radius: 6px;
            padding: 5px 5px;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

    </style>
    <script language="JavaScript">
        function toggleClassByID(pkg) {
            var element = document.getElementById(pkg);
            //var button = document.getElementById(pkg+"_button");

            if( element.className && element.className.indexOf("in") > -1 ) {
                element.classList.remove("in");
                //button.innerHTML = "&uarr;"
            }
            else {
                element.classList.add("in");
                //button.innerHTML = "&darr;"
            }
        }
    </script>
    <script language="JavaScript">
        function init() {
            // Declare all variables
            var i, content, items;

            // Get all elements with class="barcontent" and hide them
            content = document.getElementsByClassName("barcontent");
            for (i = 1; i < content.length; i++) {
                content[i].style.display = "none";
            }
            content[0].style.display = "block";

            // Get all elements with class="bar-item" and remove the class "active"
            items = document.getElementsByClassName("bar-item");
            for (i = 1; i < items.length; i++) {
                items[i].className = items[i].className.replace(" active", "");
            }
            items[0].className += " active";

        }
        function openBar(evt, barName) {
            // Declare all variables
            var i, barcontent, baritems;

            // Get all elements with class="barcontent" and hide them
            barcontent = document.getElementsByClassName("barcontent");
            for (i = 0; i < barcontent.length; i++) {
                barcontent[i].style.display = "none";
            }

            // Get all elements with class="bar-item" and remove the class "active"
            baritems = document.getElementsByClassName("bar-item");
            for (i = 0; i < baritems.length; i++) {
                baritems[i].className = baritems[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(barName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</head>
<body onload="init()">

<div class="header">
    <div class="label">OpenStack release:</div>
    <div class="text">{{ openstack_release }}</div>
    <div class="label">MCP Version:</div>
    <div class="text">{{ mcp_release }}</div>
</div>

<div class="bar">
    <button class="bar-item" onclick="openBar(event, 'mirantis')">Nodes</button>
    <button class="bar-item" onclick="openBar(event, 'system')">Networks</button>
    <button class="bar-item" onclick="openBar(event, 'other')">Other</button>
</div>
    

</body>
</html>